/* Dark Mode*/

body.dark-theme {
  color: var(--light);
  background-color: var(--dark);
}

.dark-theme .bg-light { 
    background-color: var(--dark) !important;
}

.dark-theme .card {
    background-color: var(--dark);
}

.dark-theme .navbar-light .navbar-nav .nav-link {
    color: var(--light);
}

.dark-theme .navbar-light .navbar-nav .active>.nav-link, .dark-theme .navbar-light .navbar-nav .nav-link.active, .dark-theme .navbar-light .navbar-nav .nav-link.show, .dark-theme .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.dark-theme .navbar-collapse, .dark-theme .cart-right, .dark-theme .cart-loader {
    background-color: var(--dark) !important; 
}

.dark-theme .dropdown-menu {
    background-color: var(--dark); 
}

.dark-theme .dropdown-item {
    color: var(--light);
}

.dark-theme .logo, .dark-theme .footer-logo {
    filter: brightness(100);
}

.dark-theme .form-control {
    background-color: transparent;
}
/* Dark Mode End
